<div  >
    <section id="search">

             <div class="col2">
            <div class="searchFilter">
            <h2><span  style="font-size: 75%;"></span> &#160;&#160;Web Srapper for zomato</h2>
            <div class="inner-col2">
                <table>
                    <colgroup>
                        <col style="width:20%"/>
                        <col style="width:40%"/>
                        <col style="width:20%"/>
                        <col style="width:10%"/>
                        <col style="width:10%"/>
                    </colgroup>
                    <tr>
                    
                    <td class="center b-r">
                  
                    </td>
                    <td class="center b-r">
                  Example link : https://www.zomato.com/mumbai/juhu-restaurants
                                        <input type="text" class="form-control selectD" ng-model="url" placeholder="Enter your url" >
                    </td>
                    <td class="center b-r"> <br><button class="btn btn-primary" ng-click="doSearch(url)"> <span  style="font-size: 75%;"></span> Search</button></td>
                    <td class="center b-r"></td>
                    <td class="center b-r"><br><button class="btn btn-primary" ng-click="doGetDataBase()"> <span  style="font-size: 75%;"></span> Load Existing Records</button></td>
                    </tr>
                </table>
               </div> 
            </div>

            <div class="inner-row2">
                <h3>Search Result</h3>
                <noresult style="position: relative;margin-top: 10%;margin-bottom: 10%;" ></noresult>
                    <loading style="width: 20%;margin: auto;padding-bottom: 5%;padding-top: 5%;margin-top:0px !important;" ></loading>
                <div class="search-result">
                    <table  class="table table-stripted">
                        <colgroup>
	                        <col style="width:10%"/>
	                        <col style="width:10%"/>
	                        <col style="width:10%"/>
	                        <col style="width:10%"/>
	                        <col style="width:10%"/>
	                        <col style="width:10%"/>
	                        <col style="width:410%"/>
	                         <col style="width:10%"/>
	                        <col style="width:10%"/>
	                        <col style="width:5%"/>
	                        <col style="width:5%"/>
                    	</colgroup>
                        <tr>
                            <th class="b-trbl">Name</th>
                            <th class="b-trb">Area</th>
                            <th class="b-trb">Address</th>
                            <th class="b-trb">Cuisine</th>
                            <th class="b-trb">Hours</th>
                            <th class="b-trb">Price with No of people</th>
                            <th class="b-trb">Featurated</th>
                            <th class="b-trb">Today Special</th>
                            <th class="b-trb">Offers</th>
                            <th class="b-trb">Rating</th>
                            <th class="b-trb">Votes</th>
                        </tr>
                        <tr   ng-repeat="restaturent in restaturents" ng-cloak>
                            <td class="b-trbl">
                                <a href="{{restaturent.link}}">{{restaturent.name}}</a>
                            </td>
                            <td class="b-trb">{{restaturent.area}}</td>
                            <td class="b-trb">{{restaturent.address}}</td>
                            <td class="b-trb">{{restaturent.cuisine}}</td>
                            <td class="b-trb">{{restaturent.hours}}</td>
                            <td class="b-trb">{{restaturent.priceWithNopeople}}</td>
                            <td class="b-trb">{{restaturent.featuredInCollections}}</td>
                            <td class="b-trb">{{restaturent.todaySpecial}}</td>
                            <td class="b-trb">{{restaturent.offers}}</td>
                             <td class="b-trb">{{restaturent.rating}}</td>
                            <td class="b-trb">{{restaturent.votes}}</td>
                        </tr>
                    </table>
				          <div class="col-md-9" >
       				
                 </div>
                    <div class="text-center addButtonParent">
                        
                    </div>
                </div>
            </div>
    </section>
</div>